/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
  background-color: #222222;
}

body {
  background: asset_url('philadelphia.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-page{
  margin-top: 50px;
}
.carousel-image {
  width: 100%;
  height: 100%;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  display: inline;
}

.navigation {
  padding: 0px;
  margin: 0px;
}

.navbar-inverse .navbar-brand {
  border-bottom: 1px solid #333333;
  font-family: helvetica;
  color: #D95253;
}

.nav-logo {
  display: inline-block;
  height: 50px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.carousel-header {
  color: white;
}

.carousel-text {
  color: white;
}

.home-text {
  padding: 5px;
  color: #222222;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.home-body {
  padding: 25px;
  color: #222222;
  background-color:rgba(255, 255, 255, 0.7);
}

.grid-background {
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
}

.body-header {
  font-size: 25px;
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  width: 100%;
  background-color: #D95253;
}

.services-header{
  font-size: 25px;
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  width: 100%;
  background-color: #D95253;
  margin-bottom: 5px;
}
.services {
  font-size: 16px;
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  background-color: #222222;
  border: 1px solid #111111;
}

.services:hover{
  background-color: #444444;
  border: 1px solid #333333;
}

.home-photo {
  width: 100%;
  border-radius: 15px;
}

.row{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.carousel2 {
  background-color: rgba(255, 255, 255, 0.01);
}

.locations-block{
  background-color: rgba(255, 255, 255, 0.5);
}

.store-details {
  font-size: 18px;
  color: white;
  background-color: #222222;
  padding-left: 10px;
  width: auto;
}

.store-body {
  background-color: white;
  margin-left: 15px;
  border-radius: 15px;
}

.store-body-2 {
  background-color: white;
  margin-left: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px darkgrey;
}

.glasses-tile{
  width: 100%;
}

.glasses-grid{
  background-color: #222222;
  padding: 20px;
}

.glasses-tile:hover {
    -webkit-filter: invert(100%) !important;
}

.google-map{
  border: 5px solid #222222;
  border-radius: 5px;
}

.social-media-icon{
  width: 50px;
  height: 50px;
  margin: 8px;
}

.insurance-card{
  width: 50%;
  padding: 10px;
}

.insurance-grid{
  margin-top: 55px;
  margin-bottom: 15px;
  background-color: white;
}

.insurance-card:hover {
	opacity: 1;
	-webkit-animation: flash 2.0s;
	animation: flash 2.0s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .2;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.social-media-icon:hover {
	opacity: 1;
	-webkit-animation: flash 2.0s;
	animation: flash 2.0s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .2;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


a {
  color: white;
}

a:hover{
  text-decoration: none;
}

a:visited {
  color: white;
}

.store-button{
  color: lightblue;
  padding-left: 15px;
}

.appt{
  margin-top: 10px;
}

.glasses-text{
  background-color: white;
  margin-top: 55px;
  margin-bottom: 15px;
}

.lab-image{
  width: 100%;
  padding: 15px;
}

.lab-service{
  padding: 10px;
}

.lab-service:hover{
  background-color: lightgray;
  border-radius: 15px;
}

.lab-service-header{
  background-color: lightblue;
  border-radius: 25px;
  box-shadow: 2px 2px #222222
}
.contacts-container{
  padding: 10px;
}

.contact-image{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
}

.contact-image:hover{
  box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

footer {
  border-top: 1px solid #333333;
  background: #222222;
  color: #777;
  .main-footer {
    padding: 30px 0;
    .social a {
      font-size: 20px;
      color: #777;
      &:hover {
        color: #d9534f;
      }
    }
    .year {
      text-align: center;
    }
    .copyright {
      text-align: right;
    }
  }
}

.footer-text{
  font-size: 12px;
}

.show-page{
  margin-top: 50px;
}

.store-image{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.store-image:hover{
  opacity: 0.6;
}

.panel-body{
  padding: 0px;
}

.store-panel{
  padding: 0px;
  margin: 0px;
  border: 5px solid #222222;
  border-radius: 0px;
  position: relative;
}

.store-cap{
  color: white;
  text-shadow: 2px 2px black;
  position:absolute;
  top: 100px;
  width: 100%;
}

.card-column{
  padding: 0px;
  margin: 0px;
}

.stores-grid{
  border-top: 5px solid #222222;
  border-bottom: 5px solid #222222;
  border-left: 5px solid #222222;
  border-right: 5px solid #222222;
  margin: 0px;
}

.locations-header{
  border-top: 10px solid #222222;
  border-bottom: 10px solid #222222;
}

.ad-modal{
  background-color: #222222;
  border: 2px solid lightgray;
}
