/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: asset_url('philadelphia.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-image {
  width: 100%;
  height: 100%;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  display: inline;
}

.navigation {
  padding: 0px;
  margin: 0px;
}

.navbar-inverse .navbar-brand {
  font-family: helvetica;
  color: #D00C25;
}

.nav-logo {
  display: inline-block;
  height: 50px;
  padding-right: 70px;
}

.carousel-header {
  color: #D00C25;
}

.carousel-text {
  color: #D00C25;
}

.home-text {
  padding: 5px;
  color: black;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color:rgba(255, 255, 255, 0.7);
}

.home-body {
  padding: 25px;
  color: black;
  background-color:rgba(255, 255, 255, 0.7);
}

.grid-background {
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
}

.body-header {
  font-size: 25px;
  color: white;
  padding: 5px;
  border-radius: 7px;
  background-color: #D00C25;
  margin-bottom: 15px;
  box-shadow: 3px 3px darkgrey;
}

.services {
  font-size: 16px;
  color: white;
  padding: 5px;
  border-radius: 7px;
  background-color: #111111;
  margin-bottom: 3px;
  box-shadow: 3px 3px darkgrey;
}

.services:hover{
  background-color: darkred;
}

li:hover{
  background-color: darkred;
}

.services {
  margin-top: 10px;
}

.home-photo {
  width: 100%;
  border-radius: 15px;
}

.row{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.carousel2 {
  background-color: rgba(255, 255, 255, 0.01);
}

.locations-block{
  background-color: rgba(255, 255, 255, 0.5);
}

.store-details {
  font-size: 18px;
  color: white;
  background-color: black;
  padding-left: 10px;
  width: auto;
}

.store-body {
  background-color: white;
  margin-left: 15px;
  border-radius: 15px;
}

.store-body-2 {
  background-color: white;
  margin-left: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px darkgrey;
}

.glasses-tile{
  width: 100%;
}

.glasses-grid{
  background-color: black;
  padding: 20px;
}

.glasses-tile:hover {
    -webkit-filter: invert(100%) !important;
}

.google-map{
  border: 5px solid black
}

.social-media-icon{
  width: 70px;
  height: 70px;
  margin: 8px;
}

.insurance-card{
  width: 50%;
  padding: 10px;
}

.insurance-grid{
  background-color: white;
}

.insurance-card:hover {
	opacity: 1;
	-webkit-animation: flash 2.0s;
	animation: flash 2.0s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .2;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
